@page "/evidence-graph"

<h1>Evidence graph</h1>

Please note, any input must:
<li>Use the same format as the example given by default</li>
<li>Not contain the characters " { } ( ) , ; inside string literals</li>
<li>Any whitespace will be ignored</li>
<li>The colors repeat in the same sequence</li>
<li>You can also specify the SVG area size below, in case of rendering issues</li><hr>

<label>SVG size (width, height)</label><br>
<textarea cols="70" rows="1" @bind="size"></textarea><br>

<label>Input data</label><br>
<textarea cols="70" rows="3" @bind="input"></textarea><br>

<label>Input colors</label><br>
<textarea cols="70" rows="1" @bind="colors"></textarea><br>

<button class="btn btn-primary" @onclick="Render">Generate</button><br>

@if (e != null)
{
<svg width='@size.Replace(" ","").Split(",")[0]' height='@size.Replace(" ","").Split(",")[1]'>
    <!-- Horizontal lines -->
    @foreach (var y in e.GetXPositions())
    {
        <line x1="@e.GetMinX()" y1="@y"
              x2="@e.GetMaxX()" y2="@y"
              style="stroke:gray;stroke-width:0.75" stroke-dasharray="5, 5"></line>
    }

    <!-- Vertical lines -->
    @foreach (var x in e.GetXPositions())
    {
        <line x1="@x" y1="@e.GetMinY()"
              x2="@x" y2="@e.GetMaxY()"
              style="stroke:gray;stroke-width:0.75" stroke-dasharray="5, 5"></line>
    }

    @foreach (var y in e.YLabels)
    {
        <text>
            <text x="@y.XPos" y="@y.YPos" fill="black" dy=".3em"
                  font-family="monospace" font-size="@y.FontSize"
                  text-anchor="middle">@y.Text</text>
        </text>
    }

    @foreach (var x in e.XLabels)
    {
        <text>
            <text x="@x.XPos" y="@x.YPos" fill="black" dy=".3em"
                  font-family="monospace" font-size="@x.FontSize"
                  text-anchor="middle">@x.Text</text>
        </text>
    }

    @foreach (var evidence in e.Evidences)
    {
        @if (evidence.Value != 0) {
            <!-- Círculo que representa cada evidencia -->
            <circle cx="@evidence.XPos" cy="@evidence.YPos" r="@evidence.GetRadius()"
                    fill="@evidence.Color" fill-opacity="0.2"
                    stroke="black" stroke-width="0.75" />

            <!-- Valor numérico de cada evidencia -->
            <text>
                <text x="@evidence.XPos" y="@evidence.YPos" fill="black"
                      text-anchor="middle" dy=".3em" >@evidence.Value</text>
            </text>
        }
    }
</svg>
}

@code {
    // Data obtained from the textarea
    private static string input = "{(\"Etiqueta_1\",\"D\",20), (\"X\",\"C\",0), (\"X\",\"Ciudad\",10),(\"X\",\"A\",13), (\"Otra_etiqueta\",\"D\",7), (\"Y\",\"Etiqueta_2\",6), (\"Z\",\"A\",2), (\"Z\",\"País\",13), (\"W\",\"C\",15), (\"W\",\"D\",7)}";
    private static string colors = "\"yellow\", \"green\", \"red\", \"blue\", \"magenta\", \"cyan\", \"black\", \"brown\", \"orange\", \"violet\", \"gray\"";
    private static string size = "800px, 800px";
    private Data.EvidenceGraph e;

    private void Render()
    {
        e = new Data.EvidenceGraph(input, colors);
    }
}
